name: Flask Two-Tier CI

on:
  push:
    branches: [ main ]

jobs:
  flask-mysql-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testdb
          MYSQL_USER: testuser
          MYSQL_PASSWORD: testpass
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Flask Docker image
        run: docker build -t flask-app .

      - name: Run Flask container
        run: |
          docker run -d \
            -p 5000:5000 \
            --name flask-test \
            -e MYSQL_HOST=mysql \
            -e MYSQL_USER=testuser \
            -e MYSQL_PASSWORD=testpass \
            -e MYSQL_DB=testdb \
            --network host \
            flask-app

      - name: Wait and test app
        run: |
          sleep 20
          curl -f http://localhost:5000 || exit 1
          docker logs flask-test
